<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/componentStyles.css" />
    <script type="module" src="../scripts/poiSearch.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <title>Points of Interest App</title>
  </head>
  <header>
    <nav>
      <ul>
        <li class="brand"><a href="./index.html">Home</a></li>
        <li style="float: right"><a href="#">Login</a></li>
        <li style="float: right"><a href="./poiSearch.html">Search</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <div class="search_container">
      <h1 class="title_search">Points of Interest by given Region</h1>
      <div class="input-group">
        <input
          type="text"
          id="poiRegion"
          class="input"
          placeholder="Enter your region..."
        />
        <button id="ajaxButton" class="btn">Search</button>
      </div>
      <div id="map"></div>
    </div>
  </body>
</html>
